 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
      body{ 
            background: #bdd4ff;            
           } 

        h1{
            font-family: 'Open Sans', sans-serif;
            color: #5513a1 ;
            font-size: 35px;
            }

        .singout{
            width: 100%;
            max-width: 300px;
            margin: auto;
            padding: 20px;
            border-radius: 15%;
            
            }

     .singout  .Login {
            text-align: center;
            bottom: 50px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;        
            width: 375px;
            height: 440px;
            border-width: 3px;
            border-color: #5513a1;
            border-style: solid;
            display: -ms-inline-grid;
            border-radius: 40px 10px;
            justify-content: center;
            flex-direction: row;
           }
     
           button{                   
            width: 90px;
            height: 30px;
            background: #8db6d1;
            border-radius: 7px;           
            border: 2px;
            margin-top: 20px;
            }

      input{
            border-radius: 7px;
            border: 25px;
            width: 200px;
            height: 30px;
            margin-bottom: -10px;
            }

          p{
            color: #450c86 ;
            margin-bottom: 4px;   
            }
            
