<div class="container-fluid">

  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">

      cons<b>TRACK</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
      aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/rotas">Rotas</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Graficos</a>
        </li>
      </ul>
    </div>
  </nav>


  <!--grid-->

  <div class="row">

    <div class="col-sm-2">
      <br>
      <button type="button" style="margin-top: 80px;" class="btn btn-primary">GCU-4562</button><br>

      <button type="button" style="margin-top: 30px;" class="btn btn-primary">XCW-3541</button><br>

      <button type="button" style="margin-top: 30px;" class="btn btn-primary">QUM-0697</button>
    </div>

    <div class="col-sm-3">

    </div>


    <div class="col-sm-3">

    </div>

    <div class="col-sm-3">
      <div id="top_x_div" style="width: 200px; height: 150px;"></div>
    </div>


  </div>

</div>