<title>Hackathon2019</title>

<!-- Objetos para login do usuário-->
<header>

</header>
<section class="singout">
  <div class="Login">
    <h1 class="h1" Align="center"> LOGIN </h1>
    <p>Usuário:</p>
    <input type="text" id="UserLogin" name="User">

    <p>Senha:</p>
    <input type="password" id="passwordLogin" name="Pass"><br>
    <button type="button" class="botao1" onclick="Login()">Acessar</button>
    <button type="button" class="botao2" onclick="Cadastro()">Cadastrar</button>
    <h6><a href="esqueciMinhaSenha">Esqueci minha senha </a></h6>
  </div>
</section>

<form action="">

</form>


<!-- Interações com o usuário  para tratar login-->
<script>
  // Função para tratar login 
  function Login() {
    var Access = 0;
    var usuario = document.getElementsByName('User')[0].value;
    usuario = usuario.toLowerCase();
    var senha = document.getElementsByName('Pass')[0].value;
    senha = senha.toLowerCase();
    if (usuario == "") {
      window.alert("Informe o usuário!");
      return false;
    }

    if (senha == "") {
      window.alert('Informe sua senha!');
      return false;
    }

    //Aqui será consultado no banco os dados do usuario
    if (usuario == "admin" && senha == "admin") {
      window.location = "./rotas";
      Access = 1;
    }
    if (Access == 0) { alert("Usuário ou Senha incorretos, por favor tente novamente!"); }
  }

  // Função para cadastrar novo usuário
  function Cadastro() {
    window.alert("Formulário em construção.")
    return false;
  }
</script>

<br>