<div class="container-fluid">

  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">ConsTrack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
      aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Rotas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Graficos</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="row">
    <div class="col-sm-2">

    </div>

    <div class="col-sm-4">
      <form>
        <div class="form-group">
          <h5>Inserir nova rota:</h5>
          <label for="exampleInputEmail1">Veiculos</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Seu email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Endereço</label>
          <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Endereço">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Responsavel</label>
          <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Responsavel">
        </div>
        <button type="submit" class="btn btn-primary">Inserir</button>
      </form>
    </div>
  </div>

  <hr>

  <div class="row">


    <div class="col-sm-2">

    </div>

    <div class="col-sm-2">
      <br>
      <h6>Lista de Veiculos:</h6>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          GCU-4562
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Gerson</a>

        </div>
      </div>
      <br>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          XCW-3541
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Joesley</a>

        </div>
      </div>

      <br>


      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          QUM-0697
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Edson</a>

        </div>
      </div>

      <br>

    </div>

    <div class="col-sm-2">

    </div>

    <div class="col-sm-4">
      <img src="CapMap.PNG" class="img-thumbnail" alt="image">
    </div>
  </div>
</div>